# Core dependencies
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
async-timeout==2.0.0
attrs==25.3.0
bottleneck==1.4.2
certifi==2025.7.14
charset-normalizer==3.4.2
colorama==0.4.6
contourpy==1.3.2
cramjam==2.10.0
cycler==0.12.1
exceptiongroup==1.2.2
fonttools==4.59.0
frozenlist==1.7.0
idna==3.10
iniconfig==2.1.0
kiwisolver==1.4.8
lz4==4.4.4
matplotlib==3.10.3
multidict==6.6.3
numexpr==2.10.3
numpy==2.0.2
packaging==25.0
pandas==2.3.1
pillow==11.3.0
pluggy==1.6.1
propcache==0.3.2
psycopg2==2.9.10
pygments==2.19.1
pyparsing==3.2.3
pytest==8.4.3
pytest-asyncio==1.1.0
python-dateutil==2.9.0
python-dotenv==1.1.1
python-snappy==0.7.6
pytz==2025.1
redis==5.4.1
requests==2.32.4
seaborn==0.13.2
six==1.17.0
sqlalchemy==2.0.41
ta-lib==0.6.2
tomli==2.2.0
typing-extensions==4.13.1
tzdata==2025.1
urllib3==2.5.0
websockets==15.0.1
yarl==1.20.1

# Additional from pyproject.toml
superclaude>=3.0.0.2